<a href="https://colab.research.google.com/github/19PA1A0491/Python-basics/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import numpy as np
a=np.arange(15).reshape(3, 5)
print(a)
a.shape
a.ndim
a.size
type(a)
np.zeros( (3, 4) )
np.ones( (2,3), dtype=np.int32 )
np.empty( (2,3) )
np.eye(3)
np.full((3,3),9)
np.random.random((2,3))
a=np.array([20, 30, 40, 50])
b=np.arange( 4 )
print(a)
print(b)
c=a-b
print(c)
print(b**2)
print(10*np.sin(a))
print(a<35)
a[0] +=10
print(a)
A=np.array( [[1,1],[0,1]] )
B=np.array( [[2,0],[3,4]] )
print(A)
print(B)
print(A * B)
print(A @ B)
print(A.dot(B))
print(np.dot(A,B))

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]
[20 30 40 50]
[0 1 2 3]
[20 29 38 47]
[0 1 4 9]
[ 9.12945251 -9.88031624  7.4511316  -2.62374854]
[ True  True False False]
[30 30 40 50]
[[1 1]
 [0 1]]
[[2 0]
 [3 4]]
[[2 0]
 [0 4]]
[[5 4]
 [3 4]]
[[5 4]
 [3 4]]
[[5 4]
 [3 4]]

In [24]:
a=np.arange(12).reshape(3,4)
print(a)
print(a.sum( ))
print(a.sum(axis=0))
print(a.sum(axis=1))
print(a.min(axis=1))
print(a.cumsum(axis=1))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
66
[12 15 18 21]
[ 6 22 38]
[0 4 8]
[[ 0  1  3  6]
 [ 4  9 15 22]
 [ 8 17 27 38]]

In [25]:
a=np.arange(5)
print(a)
b=np.random.random(5)
print(b)
print(np.add(a,b))
print(a + b)
print(np.subtract(a,b))
print(a - b)
print(np.multiply(a,b))
print(a * b)
print(np.divide(a,b))
print(a / b )

[0 1 2 3 4]
[0.36364312 0.98863823 0.48032718 0.51377432 0.12481057]
[0.36364312 1.98863823 2.48032718 3.51377432 4.12481057]
[0.36364312 1.98863823 2.48032718 3.51377432 4.12481057]
[-0.36364312  0.01136177  1.51967282  2.48622568  3.87518943]
[-0.36364312  0.01136177  1.51967282  2.48622568  3.87518943]
[0.         0.98863823 0.96065435 1.54132297 0.49924229]
[0.         0.98863823 0.96065435 1.54132297 0.49924229]
[ 0.          1.01149234  4.16382853  5.83913959 32.04856694]
[ 0.          1.01149234  4.16382853  5.83913959 32.04856694]

In [30]:
a=np.arange(12).reshape(4,3)**2
print(a)
for i in a:
  print(i)
for i in a.flat:
   print(i)

[[  0   1   4]
 [  9  16  25]
 [ 36  49  64]
 [ 81 100 121]]
[0 1 4]
[ 9 16 25]
[36 49 64]
[ 81 100 121]
0
1
4
9
16
25
36
49
64
81
100
121